.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.square {
border: 5px solid #000;
width: 200px;
height: 200px;
}

.action {
margin: 10px;
}

button {
    cursor: pointer;
}